@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}
main {
  margin: auto;
}

.noStyle {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.edit {
  display: flex;
  margin: auto;
  font-size: 25px;
  color: #000;
  margin-top: 5px;
}

.dataTable {
  display: block;
  margin: auto;
  background-color: #000;
}

.dataTable thead,
.dataTable tbody,
.dataTable thead tr,
.dataTable th {
  display: block;

}

.dataTable thead {
  float: left;
  
}

.dataTable tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
  
}

.dataTable td,
.dataTable th {
  height: 45px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  padding: 5px;
}

.dataTable th {
  text-align: left;
  background: #fff;
  padding: 5px;
}

.dataTable tbody tr {
  display: table-cell;
}

.dataTable tbody td {
  display: block;
}

@media screen and (min-width: 50em) {
  .dataTable {
    display: table;
  }

  .dataTable thead {
    display: table-header-group;
    float: none;
    
  }

  .dataTable tbody {
    display: table-row-group;
  }

  .dataTable thead tr,
  .dataTable tbody tr {
    display: table-row;
  }

  .dataTable th,
  .dataTable tbody td {
    display: table-cell;
  }

  .dataTable td,
  .dataTable th {
    width: auto;
    font-size: 16px;
    text-align: center;
  }
}
