@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
main {
  margin: auto;
}

table {
  border-collapse: collapse;
  margin: 20px;
}
table thead tr {
  border-bottom: 3px solid #0085a6;
  color: #000;
}

table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
}

table th {
  border: 1px solid #bfbfbf;
  padding: 5px;
  font-size: 15px;
}
table td {
  border: 1px solid #bfbfbf;
  padding: 10px 15px;
  position: relative;
  vertical-align: middle;
}
