@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --gl-ms: 'screen and (max-width: 23.5em)';
  --gl-xs: 'screen and (max-width: 35.5em)';
  --gl-sm: 'screen and (max-width: 48em)';
  --gl-md: 'screen and (max-width: 64em)';
  --gl-lg: 'screen and (max-width: 80em)';
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}
main {
  margin: auto;
}

.noStyleDiv {
  margin: auto;
  width: 310px;
}

.noStyle {
  text-decoration: none;
  border: none;
  background: none;
  color: #000;
}

.titleTop {
  margin: 30px 0px 30px 0;
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.editT {
  display: flex;
}
.edit {
  display: flex;
  margin: 20px;
  font-size: 45px;
  color: #000;
  margin-top: 5px;
}
.sectionh3h5 {
  text-align: center;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 7px;
  padding: 30px;
}

.sectionh3h5 h5 {
  font-size: 14px;
  margin: 0 30px 5px 30px;
  border-radius: 5px;
  padding: 8px;
  border-radius: 4px;
}

.sectionh3h5 h3 {
  font-size: 14px;
  margin: 12px 0 3px 0;
}

.GRID {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.contentGrid {
  margin-bottom: 50px;
}

.contentGrid h5 {
  background: rgba(128, 128, 128, 0.4);
}
.lastDiv {
  display: flex;
  margin: 0;
}
.txtColors {
  position: absolute;
  display: grid;
  grid-template-columns: 100px 200px;
  align-items: center;
  justify-content: center;
  z-index: 20;
  margin-left: 5%;
  pointer-events: none;
  color: #474747;
}

.txtOptions {
  position: absolute;
  display: grid;
  grid-template-columns: 100px 200px;
  align-items: center;
  justify-content: center;
  z-index: 20;
  margin-left: 140vh;
  pointer-events: none;
  color: #474747;
}
.spanConfirm {
  font-size: 14px;
  color: tomato;
}
.colores {
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: 120px 120px;
  gap: 15px;
}
.coloresTable {
  display: grid;
  grid-template-columns: 15px 100px;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.colores p {
  margin: 0;
}
.rojo,
.amarillo,
.azul,
.verde {
  margin: 0;
  width: 15px;
  height: 15px;
}
.rojo {
  background: red;
}
.amarillo {
  background: yellow;
}
.verde {
  background: green;
}
.azul {
  background: blue;
}

.table-fill {
  border-collapse: collapse;
  max-height: 250px;
  margin: auto;
  margin-top: 20px;
  max-width: 1700px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  color: #000;
  width: 100vw;
}

tbody {
  display: block;
  height: 720px;
  overflow: auto;
  width: calc(100% - 0.65em);
}

tbody::-webkit-scrollbar {
  -webkit-appearance: none;
}

tbody::-webkit-scrollbar:vertical {
  width: 5px;
}

tbody::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
}

tbody::-webkit-scrollbar-track {
  border-radius: 10px;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  width: calc(100% - 0.7em);
}

th {
  background: #a2a8ad;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  text-align: center;
  border: 2px solid #6b6c74;
}

tr {
  font-weight: normal;
}

tr:last-child {
  border-bottom: none;
}

td {
  padding: 8px;
  font-weight: 500;
  font-size: 17px;
  border: 2px solid #c1c3d1;
  word-wrap: break-word;
}

td:nth-child(-n + 3),
th:nth-child(-n + 3) {
  width: 35px;
}
td:nth-child(4),
th:nth-child(4) {
  width: 100px;
}

td:nth-child(n + 5),
th:nth-child(n + 5) {
  width: 40px;
}

td:nth-child(8),
th:nth-child(8) {
  width: 100px;
}

td:last-child,
th:last-child {
  width: 45px;
}

.btnTable {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  padding: 0;
  transition: all 0.4s;
}
@media (min-width: 480px) and (max-width: 1400px) {
  .btnTable {
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
    transition: all 0.4s;
  }
}

.btnTable:hover {
  color: #fff;
}

.linkMedia {
  transition: all 0.4s;
}

.linkMedia:hover {
  color: #fff;
}

.linkMediaDisable {
  margin: auto;
}

@media (min-width: 480px) and (max-width: 1400px) {
  .table-fill {
    width: 100%;
  }

  .table-fill .linkMedia {
    width: 40px;
  }
  td:nth-child(-n + 8),
  th:nth-child(-n + 8) {
    width: 15px;
    font-size: 14px;
  }

  td:nth-child(4),
  th:nth-child(4) {
    width: 30px;
    font-size: 14px;
  }
  td:nth-child(8),
  th:nth-child(8) {
    width: 35px;
    font-size: 14px;
  }

  td:last-child,
  th:last-child {
    width: 18px;
    font-size: 14px;
  }

  th {
    font-size: 15px;
    padding: 4px;
  }

  tbody {
    height: 440px;
  }

  td {
    padding: 3px;
    font-size: 16px;
  }
}

hr {
  border: none;
  width: 60%;
  margin: auto;
  padding: 0.2px;
  background-color: #000;
}

.flexAuto {
  position: fixed;
  z-index: 100;
  background-color: rgba(200, 200, 200, 0.9);
  width: 250px;
  border-radius: 20px;
  text-align: center;
  margin-top: 5px;
  max-height: 405px;
}

.formA {
  display: block;
  z-index: 100;
  text-align: center;
  margin: auto;
  padding: 5px;
  width: 100%;
  max-height: 400px;
}
ul {
  list-style: none;
}
.list {
  border-radius: 20px;
  padding: 0;
  margin: 0;
}
.list-items {
  color: #000;
  transition: all 0.4s;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}
.list-items:hover {
  background-color: #fff;
}

.divGrid {
  display: grid;
  grid-template-columns: 150px 200px;
  align-items: center;
  margin: 15px 0 12px 0;
}
.divGrid h4,
.divGrid h5 {
  margin: 0;
}
.divGrid h5 {
  border-radius: 5px;
  min-height: 30px;
  padding: 10px;
  background: #f2f2f2;
  font-size: 16px;
}

.checkBoxDiv {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  gap: 20%;
  height: 75px;
}

.custom-rounded-checkbox {
  position: relative;
  --col-checkbox-main-bg: #66bb6a;
  --col-checkbox-tick: #fff;
  --col-checkbox-unticked-border: #ccc;
}

.custom-rounded-checkbox > span {
  background-color: var(--col-checkbox-tick);
  border: 1px solid var(--col-checkbox-unticked-border);
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.custom-rounded-checkbox > span:after {
  border: 2px solid var(--col-checkbox-tick);
  border-top: none;
  border-right: none;
  content: '';
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.custom-rounded-checkbox input[type='checkbox'] {
  visibility: hidden;
}

.custom-rounded-checkbox input[type='checkbox']:checked + span {
  background-color: var(--col-checkbox-main-bg);
  border-color: var(--col-checkbox-main-bg);
}

.custom-rounded-checkbox input[type='checkbox']:checked + span:after {
  opacity: 1;
}
